/* css secciones */
@import url(/styles/header.css);
@import url(/styles/hero.css);
@import url(/styles/mi-proceso-de-diseño.css);
@import url(/styles/mis-proyectos.css);
@import url(/styles/sobre-mi.css);
@import url(/styles/formulario.css);
@import url(/styles/footer.css);

html {
    scroll-behavior: smooth;
}

/* Estilos generales */
body{
    font-family: Plus Jakarta Sans;
    margin: 0;
    background-color:#F8F8F8;
}

/* colores generales */
.neutral-negro{
    color: #212121;
}
.neutral-blanco{ 
    color: #FFFFFF;
}
.neutral-gris{
    color: #BFBFBF;
}
.neutral-gris-dark{
    color: #696969;
}
.principal-fucsia{
    color: #ED325F;
}
.principal-violeta {
    color: #25086C;
}
.principal-verde {
    color: #32AA9D;
}
.secundario-fucsia{
    color: #FF557A;
 }
.secundario-violeta{
    color: #7A77D8;
 }
.ui-azul-raft{
    color: #3089F3;
}
.ui-amarillo{
    color: #FFF27F;
}

/* estilos de texto */
h1 {
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
}
h2 {
    font-weight: 400;
    margin: 0;
    font-size: 24px; /* Tamaño de fuente para mobile, 32 para desktop y tablet */
}
h3 {
    font-weight: 200;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
}
h4 {
    font-weight: 400;
    margin: 0;
}
.p {
    font-size: 16px;
}

/* textos destacados */
.texto-neutral-negro {
    color: #212121;
}

.titulos-regular-negro {
    font-size: 24px;
    font-weight: 400;
    color: #212121;
}
.titulos-regular-blanco {
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.titulos-semibold-amarillo {
    font-size: 24px;
    font-weight: 600;
    color: #FFF27F;
}

.titulos-semibold-fucsia {
    font-size: 24px;
    font-weight: 600;
    color: #ED325F;
}



