/* css secciones */
@import url(/styles/header.css);
@import url(/styles/hero.css);
@import url(/styles/mi-proceso-de-diseño.css);
@import url(/styles/mis-proyectos.css);
@import url(/styles/sobre-mi.css);
@import url(/styles/formulario.css);
@import url(/styles/footer.css);

/* Estilos generales */
body{
    font-family: Plus Jakarta Sans;
    margin: 0;
    background-color:#F8F8F8;
}

/* colores generales */
.neutral-negro{
    color: #212121;
}
.neutral-blanco{ 
    color: #FFFFFF;
}
.neutral-gris{
    color: #BFBFBF;
}
.neutral-gris-dark{
    color: #696969;
}
.principal-fucsia{
    color: #ED325F;
}
.principal-violeta {
    color: #25086C;
}
.principal-verde {
    color: #32AA9D;
}
.secundario-fucsia{
    color: #FF557A;
 }
.secundario-violeta{
    color: #7A77D8;
 }
.ui-azul-raft{
    color: #3089F3;
}
.ui-amarillo{
    color: #FFF27F;
}

/* estilos de texto */
h1 {
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
}
h2 {
    font-size: 32px;
    font-weight: 600;
    color: #212121;
    text-align: left;
    margin: 0;
}
h3 {
    font-weight: 200;
    color: #FFFFFF;
    text-align: left;
    margin: 0;
}
h4 {
    font-weight: 400;
    text-align: left;
    margin: 0;
}

/* textos destacados */
.texto-neutral-negro {
    color: #212121;
}
.texto-destacado-fucsia {
    color: #ED325F;
}
.titulos-destacado-amarillo {
    color: #FFF27F;
}
.titulos-destacado-blanco {
    color: #FFFFFF;
}

/* estilos de parrafo */
.parrafo-general-texto-blanco{
    width: 592px;
    color: #FFFFFF;
}
.parrafo-general-texto-negro{
    width: 592px;
    color: #212121;
}
