/* elementos foter */
.footer {
    background-color: #212121;
    color: #FFFFFF;
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 48px;
    padding-bottom: 48px;
    background-image: url(/img/background-footer.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: space-between
}
.contacto-footer {
    display: flex;
    gap: 72px;
    align-items: center;
}
.datos-contacto-footer {
    color: #FFFFFF;
    margin-top: 16px;
}
.gracias-por-visitar {
    align-items: center;
    padding-top:  8px;
}