/* elementos hero */
.hero{
    color:#FFFFFF ;
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 183px;
    padding-bottom: 183px;
    background-image: url(/img/slider\ inicio\ ok.png);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.textos-hero{ /* esta ok esto? quería darle una diferencia entre el texto y el botón */
    margin: 0;
    padding-bottom: 32px;
}
.boton-hero{
    background-color: #ED325F;
    font-size: 20px;
    padding-left: 16px ;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 16px;
    border-color: #ED325F;
    color:#FFFFFF
}