/* elementos hero */
.hero{
    color:#FFFFFF ;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 96px;
    padding-bottom: 96px;
    margin: 0;
    background-image: url(/img/backgroundSliderMobile.png);
    background-position: center;
    background-size: cover;
    align-items: left;
    justify-content: center;
}
.boton-hero{
    background-color: #ED325F;
    font-size: 20px;
    padding-left: 16px ;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 16px;
    border-color: #ED325F;
    color:#FFFFFF
}
.hero h3 {
    font-size: 24px;
    font-weight: 200;
    color: #ffffff; 
    text-align: left; 
    margin: 0;

    animation: fadeInUp 1s ease forwards; /* elementos animación*/
    animation-delay: 0.5s;
}
.hero h1 {
    font-size: 32px;
    font-weight: 600;
    color: #ffffff; 
    text-align: left; 
    margin: 0;
    margin-right: 16px;
    padding-bottom: 42px;
    animation: fadeInUp 1s ease forwards; /* elementos animación*/
    animation-delay: 0.5s;
}
/* elementos animación*/

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* todos los elementos tablet 768 -------------------------------------------------------------------*/
@media (min-width: 768px) {
    .hero{
        color:#FFFFFF ;
        padding-right: 338px;
        padding-left: 60px;
        padding-top: 96px;
        padding-bottom: 96px;
        margin: 0;
        background-image: url(/img/backgroundSliderTablet.png);
        background-position: center;
        background-size: cover;
        align-items: left;
        justify-content: center;
    }
    .boton-hero{
        background-color: #ED325F;
        font-size: 20px;
        padding-left: 16px ;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 16px;
        border-color: #ED325F;
        color:#FFFFFF
    }
    .hero h3 {
        font-size: 24px;
        font-weight: 200;
        color: #ffffff; 
        text-align: left; 
        margin: 0;
    }
    .hero h1 {
        font-size: 32px;
        font-weight: 600;
        color: #ffffff; 
        text-align: left; 
        margin: 0;
        margin-right: 16px;
        padding-bottom: 42px;
    }
}

/* todos los elementos desktop 1024 -------------------------------------------------------------------*/
@media (min-width: 1024px){
    .hero{
        color:#FFFFFF ;
        padding-right: 338px;
        padding-left: 60px;
        padding-top: 183px;
        padding-bottom: 183px;
        margin: 0;
        background-image: url(/img/backgroundSliderDesktop.png);
        background-position: center;
        background-size: cover;
        align-items: left;
        justify-content: center;
    }
    .boton-hero{
        background-color: #ED325F;
        font-size: 20px;
        padding-left: 16px ;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 16px;
        border-color: #ED325F;
        color:#FFFFFF
    }
    .hero h3 {
        font-size: 24px;
        font-weight: 200;
        color: #ffffff; 
        text-align: left; 
        margin: 0;
    }
    .hero h1 {
        font-size: 32px;
        font-weight: 600;
        color: #ffffff; 
        text-align: left; 
        margin: 0;
        margin-right: 16px;
        padding-bottom: 42px;
    }
}