/* elementos proceso de diseño */

.proceso-de-diseño {
    background-color: #FFFFFF;
    color: #212121;
    margin: 0px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(/img/backgrounsMisProyectosMobile.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.proceso-de-diseño h2 {
    font-size: 24px;
    font-weight: 600;
    color: #ED325F; 
    text-align: center; 
    margin: 0;
}

