/* elementos mis-proyectos */

.mis-proyectos {
    background-color: #25086C;
    color: #FFFFFF;
    margin: 0px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(/img/backgrounsMisProyectosMobile.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.mis-proyectos h2 {
    font-size: 24px;
    font-weight: 600;
    color: #FFF27F; 
    text-align: center; 
    margin: 0;
}

/* todos los elementos tablet 768 -------------------------------------------------------------------*/
@media (min-width: 768px) {
    
}

/* todos los elementos desktop 1024 -------------------------------------------------------------------*/
@media (min-width: 1024px){
    
}